<ion-header>
  <ion-toolbar>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating">Full Name</ion-label>
    <ion-input placeholder="Enter Full Name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input placeholder="Enter Email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input placeholder="Enter Password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Repeat Password</ion-label>
    <ion-input placeholder="Repeat Password"></ion-input>
  </ion-item>
  <br>
  <ion-button color="primary" expand="block" routerLink="/home">Register</ion-button>
</ion-content>
